.Rproj.user
.Rhistory
.RData
writeups/spatialPredictiveProcess/spatialPredictiveProcessModified.aux
pcaSpatialPPModified/mcmc.out.RData
spatialSmoothingPPModified/.Rapp.history
writeups/spatialPredictiveProcess/spatialPredictiveProcessModified.synctex.gz
writeups/spatialSmoothing/spatialKriging.synctex.gz
spatialSmoothingOrthogonal/.Rapp.history